# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/
# Virtual Environment
.venv/
venv/
env/
ENV/

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# Large Yelp dataset files
yelp_review_classification/data/train.csv
yelp_review_classification/data/test.csv
yelp_review_classification/data/processed/yelp_balanced_150k_cleaned.csv
yelp_review_classification/data/processed/yelp_balanced_150k.csv

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Python Environment Files
# -----------------------------
.python-version

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp
*.temp

# -----------------------------
# Cache
# -----------------------------
.pytest_cache/
.mypy_cache/
.cache/

# -----------------------------
# IDE Files
# -----------------------------
.idea/

# -----------------------------
# Model Checkpoints (Optional)
# Uncomment if you don't want to upload trained models
# -----------------------------
# models/*.pkl